// Fonts
$fnt-primary: "Poppins", sans-serif

// Colors
$bkg-primary: #ffffff
$txt-primary: #8289a3
$txt-secondary: #3b496c
$txt-accent: #a783f5
$btn-primary: #a985f6
$btn-secondary: #efe6fb
$icon-primary: #0a1b46
