// Fonts
$fnt-primary: "Poppins", sans-serif

// Colors
$bkg-primary: #ffffff
$bkg-secondary: #efe6fb
$txt-primary: #84899e
$txt-secondary: #3b496c
$txt-accent: #e2563b
$btn-primary: #e2563b
$btn-secondary: #efe6fb
$icon-primary: #3b496c
$transparent: #0000

// Units
$btn-height: 40px
